
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>2021 by Randell R. Miller of <a href='https://nvcreativetechnology.com'>Creative Technology Services</a></p>
  </div>
</div>
</body>
</html>
